{{#each found}}
    <div data-id={{this._id}} class="article row">
        <div class="article well">
            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                <div data-saved-headline={{@index}} class="savedHeadline">
                    <h2><a data-saved-link={{@index}} href="{{this.link}}" target="_blank">{{this.headline}}</a></h2>
                    <p data-saved-summary={{@index}} class="savedSummary">{{this.summary}}</p>
                </div>
            </div><!-- end article column -->
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                <!-- render a notes button -->
                <button type="button" data-article-id={{this._id}} data-toggle="modal" data-target="#noteModal" data-saved-index={{@index}} class="notes btn btn-primary">Annotate</button>
                
                <!-- render a delete button -->
                <button type="button" data-article-id={{this._id}} data-delete-index={{@index}} class="remove btn btn-danger">Remove</button>

            </div><!-- /end save btn col-->
        </div><!-- /end well -->
    </div><!-- /end article row-->
{{/each}}

<!-- Modal -->
<div id="noteModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Article notes</h4>
      </div>
      <div class="modal-body">
        <p id="notes"></p>
        <form class="form" name="addNote" action="/addnote" method="POST">
            <div id="note-form" class="form-group">
                <label for="noteText">Write/edit note here</label>
                <textarea class="form-control" name="noteText" id="noteText" rows="3"></textarea>
                <input name="articleId" id="articleId" type="hidden"/>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>